.LeftpaneWidgets {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .LeftpaneWidgets:hover {
    background-color: #e8f5fe;
    border-radius: 30px;
    color: #ffc107;
    transition: color 100ms ease-out;
  }
  
  .LeftpaneWidgets > .MuiSvgIcon-root {
    padding: 20px;
  }
  
  .LeftpaneWidgets > h2 {
    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
  }
  
  .LeftpaneWidgets--active {
    color: #ffc107;
  }