.PostIt {
    padding-bottom: 10px;
    border-bottom: 8px solid ;
    padding-right: 10px;
  }
  
  .PostIt > form {
    display: flex;
    flex-direction: column;
  }
  
  .PostIt__input {
    padding: 20px;
    display: flex;
  }
  
  .PostIt_title {
    display: flex;
    flex: 1;
  }
  .PostIt__input > input {
    flex: 1;
    margin-left: 20px;
    font-size: 20px;
    border: none;
  }

  
  .PostIt__Create {
    background-color: #ffc107    !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    width: 80px;
    height: 40px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
  }